/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import 'victormono';

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: transparent;
}

li {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9fffd;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 992px) {
  .menu {
    margin: 0 1rem !important;
  }
}

.menu__togle {
  outline: none;
}

.menu__togle:focus {
  outline: none !important;
}

.carousel-inner {
  height: -webkit-fill-available;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(400px) !important;
  height: calc(400px) !important;
}

.image-gallery-fullscreen-button {
  display: none;
}

nav {
  width: 100%;
  padding: 0;
  position: sticky;
  padding: 0;
  top: 0;
  z-index: 9999;
  background-color: #0d3b66de;
}

nav ul {
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
  font-family: 'Victor Mono';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px !important;
  text-transform: uppercase !important;
  color: rgba(255, 255, 255, 0.78) !important;
  font-size: 21px !important;
  font-family: 'Victor Mono';
  font-weight: 900 !important;
  text-decoration: none !important;
  display: block !important;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.menu__logout {
  display: flex !important;
  align-items: center;
  gap: 0.5rem;
  height: 50px;
  font-size: 21px !important;
}

.menu__logout p {
  font-family: 'Victor Mono' !important;
}



