/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #F9FFFD;
  font-family: "Poppins", sans-serif;
}



@media screen and (max-width:992px) {
  .menu {
    margin: 0 1rem !important;
  }
}

.menu__togle {
  outline: none;
}

.menu__togle:focus {
  outline: none !important;
}

.carousel-inner {
  height: -webkit-fill-available;
}


.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(400px) !important;
  height: calc(400px) !important;
}

.image-gallery-fullscreen-button {
  display: none;
}