.candidatura {
    background-color: #fff;
    box-shadow: 0 3rem 6rem rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.candidatura__left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.candidatura__right {
    display: flex;
    gap: 1rem;
}

.candidatura__img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.candidatura__country {
    margin: 0;
}

.candidatura__title {
    font-size: 1.3rem;
}

.candidatura__time {
    font-weight: 600;
    color: #21202082;
    font-size: 0.9rem;
}

.product-btn {
    height: 50px;
    width: 50px;
}