

.products__grid {
    display: grid;
    margin: 3rem 0;
    width: 100%;
    grid-gap: 2rem;
    row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    align-items: center;
    justify-content: center;
}

.product {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    height: -webkit-fill-available;
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;

}

@media only screen and (max-width: 1200px) {
    .products__grid {
        grid-gap: 2rem;
        row-gap: 5rem;
    }
}

@media only screen and (max-width: 736px) {
    .products__grid {
        width: 80%;
        margin: 0 auto;
    }
}

.product:hover {
    transform: translateY(-1%);
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.product-img {
    display: block;
    width: 100%;
    height: 13rem;
    object-fit: cover;
}

.product-content {
    padding: 0 1rem 1rem;
}

.product-header {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1rem;
}

.product-text,
.product-price {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 1rem;
}

.product-text {
    height: 50px;
}

.button-box {
    display: flex;
    gap: 1rem;
}

.product-btn {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-cart-btn {
    color: #3369ff;
    background-color: #d8e0fd;
    
}

.product-update-btn {
    color: #33ff6d;
    background-color: #d8fde8;
}

.product-delete-btn {
    color: #ff3377;
    background-color: #fdd8e3;
}

.product-cart-btn:hover,
.product-cart-btn:active {
    background-color: #c2cffc;
}

.product-update-btn:hover,
.product-update-btn:active {
    background-color: #bfffb2;
}

.product-delete-btn:hover,
.product-delete-btn:active {
    background-color: #fdb7cc;
}

@media screen and (max-width: 1260px) {
    .product-btn {
        font-size: 1.5rem;
    }
}

.product-btn:hover span,
.product-btn:active span {
    margin-left: 1.5rem;
}